
/*styling för alla sidor*/
body{
    margin: auto;
    background-color: #030301;
    color: white;
    font-family: Futura PT, sans-serif;
}

.contatiner{
    display: grid;
    grid-template-columns: 400px 200px;
    grid-template-areas:
    'nav nav' /*nav och header verkar vara samma del i koden vi kanske kan ta bort ena?*/
    'header header'
    'main main'
    'footer footer';
    column-gap: 10px;
}

main{
    grid-area: main;
    width: 800px;
    margin: auto;
}

header{
    grid-area: header;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 40px;

}

.logotyp {
    position: absolute;
    margin-left: 8px;
    margin-top: 2px;
}

nav{
    text-align: left;
    background-color: #586F7C;
    padding: 2px;
    grid-area: nav;
}

li{
    list-style-type: none;
    display: inline;
}

a{
    text-decoration: none;
    color:white;
    padding: 1px;
    margin-left: 30px;
    font-size: 14px;
}

nav a:hover{

   border-bottom-width: 4px;
   border-bottom-style: solid;
   padding-bottom: 15px;
   border-color: #919ca3;

}

/*styling tabell*/ 

.banner {
margin-top: 50px;

}

table{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 5px;
    margin-bottom: 220px;
}

th, td{
    border: 1px solid #7bd4d2;
    font-family: Futura PT, sans-serif;
    padding: 7px;
}

th{
    color: #7bd4d2;
    font-size: 15pt;
    padding: 6px;
    border-color:#030301;
}

#rad1 {
    background-color: #B81414;
}

h1{
    text-align: left;
    color: white;
    font-weight: 200;
    
}

h3 {
font-size: 18px;
font-weight: 100;
}

/*styling biljetter*/ 
fieldset {
    font-size: 12pt;
    font-family: Futura PT, sans-serif;
    border: 5px solid;
    border-color: #7bd4d2;
    width: 80%;
    margin: auto;
    margin-bottom: 350px;
}

label{
    font-weight: 100;
}

legend {
    font-size: 15pt;
    font-weight: 600;
    padding: 10px;
}

input {
    width: 200px;
    background-color:#030301;
    border-color:#7bd4d2;
    color: white;
}

select {
    width: 200px;
    background-color:#030301;
    border-color:#7bd4d2;
    color: #7bd4d2;
}

input:hover, select:hover {
    border-color: #B81414;
}

#skicka {
    background-color: #030301;
    font-size: larger;
    font-weight: 800;
    color: #7bd4d2;
    border-color: #7bd4d2;
}

#skicka:hover {
    border-color: #B81414;
}


/*styling filmer*/ 
.galleri {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    grid-area: main;
}


img#filmomslag {
    position: absolute;
    top: 250px;
    left: 350px;
    z-index: 2;
    
}

.biljettknapp {
    position: absolute;
    left: 850px;
    top: 540px;
    font-size: 16px;
    padding: 10px;
    background-color:#B81414;
    width: 150px;
    text-align:center;
}

.biljettknapp:hover {
    background-color:#ed2727 ;
    
}

.rubrik {
    font-size: 20px;
    position: absolute;
    top: 480px;
    left: 630px;
    z-index: 2;  
}

.underrubrik {
    font-size: 12px;
    font-weight: 100;
    position: absolute;
    top: 545px;
    left: 630px;
    z-index: 2;
    line-height: 5px;
    
}

.handling {
    font-size: 14px;
    margin-top: 200px;
    margin-bottom:60px;
    line-height: 18px;
    grid-area: main;
}


.information {
    font-size: 14px;
    line-height: 5px;
    margin-bottom: 60px;
    line-height: 16px;
    grid-area: main;
}

/*styling recension*/
#recension-bakgrund{
    background-image: url(dave-reed-hzGaR9HDWtk-unsplash.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.recension {
    font-size: 14px;
    line-height: 18px;
    width: auto;
}

#recension-rubrik{
    font-size: 32px;
    color: #B81414;
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#woods{
    float: right;
    -webkit-shape-outside: circle(500px);
    shape-outside: circle(500px);
    margin: 20px;
}

#door{
    float: right;
    -webkit-shape-outside: circle(500px);
    shape-outside: circle(500px);
    margin: 20px;
}

.betyg-container{
    display: flex;
    align-items: center;
}

.femavfem {
    margin-left: 10px;
}

#text-betyg{
    margin-top: 2px;
}

/*styling footer*/ 
footer {
    grid-area: footer;
    font-size: 12px;
    text-align: center;
    background-color: #586F7C;
    position: relative;
    padding: 3px;
    bottom: 0;
    max-width: 100%;
}