
/*styling för alla sidor*/
body{
    margin: auto;
    background-color: #030301;
    color: white;
    font-family: Futura PT, sans-serif;
}


.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'nav'
    'main'
    'footer';
    column-gap: 10px;
}

main{
    grid-area: main;
    width: 70%;
    margin: auto;
}

h1{
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: left;
    color: white;
    font-weight: 200;
}

h3 {
font-size: 18px;
font-weight: 100;
}


/*styling för nav*/ 

.logotyp {
    position: absolute;
    margin-left: 8px;
    margin-top: 2px;
   width: 50px;
}

nav{
    text-align: left;
    background-color: #586F7C;
    padding: 2px;
    grid-area: nav;
}

li{
    list-style-type: none;
    display: inline;
}

a{
    text-decoration: none;
    color:white;
    padding: 1px;
    margin-left: 30px;
    font-size: 14px;
}

nav a:hover{

   border-bottom-width: 4px;
   border-bottom-style: solid;
   padding-bottom: 15px;
   border-color: #919ca3;
}

/*styling för hamburger-meny som visas för skärmar med max 600px*/
@media screen and (max-width: 600px) {
    nav {
      display: flex;
      flex-direction: column;
    }
  
    li {
      display: block;
      margin: 10px 0;
      padding: 5px;
    }
    .menu ul {
        display: none;
    }
    
    .hamburger {
        background-color: #586F7C;
        border: #586F7C;
        padding: 15px;
        padding-left: 10%;
        font-size: 20px;
        color:white;
        cursor: pointer;
        text-align: left;
    }
}

  @media (min-width: 601px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: block;
    }
}
/*styling alla sidor slut*/ 


/*styling filmer*/ 

#bakgrundsbild {
    width: 100%;
}

.galleri {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    grid-area: main;
}


img#filmomslag {
    position: absolute;
    top: 250px;
    left: 350px;
    z-index: 2;
    width: 250px;
    
}

.biljettknapp {
    position: absolute;
    left: 850px;
    top: 540px;
    font-size: 16px;
    padding: 10px;
    background-color:#B81414;
    width: 150px;
    font-weight: 700;
    padding-left: 35px;
    
}

.biljettknapp:hover {
    background-color:#ed2727 ;
    
}

.rubrik {
    font-size: 20px;
    position: absolute;
    top: 480px;
    left: 630px;
    z-index: 2;  
}

.underrubrik {
    font-size: 12px;
    font-weight: bolder;
    position: absolute;
    top: 545px;
    left: 630px;
    z-index: 2;
    line-height: 5px;
    
}

.handling {
    font-size: 14px;
    margin-top: 200px;
    margin-bottom:60px;
    line-height: 18px;
    grid-area: main;
}

#infobutton{
    background-color: #B81414;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    border: #B81414;
    font-size: 14px;
    font-weight: 500;
}

#hiddentext{
    display: none;
    margin-top: 10px;
    padding: 5px;
    background-color: #586F7C;   
    font-size: 14px;
    line-height: 5px;
    margin-bottom: 60px;
    line-height: 16px;
    grid-area: main;
}
/*styling filmer slut*/ 

/*styling biljetter*/ 

form{
    padding: 30px;
    width: 60%;
    margin: auto;
}

#biljettbild{
    width: 200px;
    position: relative; /*För att få bilden och textrutorna i bordern för fieldboxen gjorde jag bilden relative och fieldboxen absolute*/ 
    margin-left: 55%;
    margin-top: 80px;
    margin-bottom: 260px; /*För att få footern längst på sidan*/ 
}

fieldset {
    font-size: 12pt;
    font-family: Futura PT, sans-serif;
    border: 5px solid;
    border-color: #7bd4d2;
    position: absolute;
    top: 100px; 
    width: 500px;
}

label{
    font-weight: 100;
}

legend {
    font-size: 15pt;
    font-weight: 600;
    padding: 10px;
}

input {
    width: 200px;
    background-color:#030301;
    border-color:#7bd4d2;
    color: white;
}

select {
    width: 200px;
    background-color:#030301;
    border-color:#7bd4d2;
    color: white;
}

input:hover, select:hover {
    border-color: #B81414;
}

#skicka {
    background-color: hsl(60, 50%, 1%);
    font-size: larger;
    font-weight: 800;
    color: #7bd4d2;
    border-color: #7bd4d2;
}

#skicka:hover {
    border-color: #B81414;
}

span{
    color:#B81414;
    font-family: Futura PT, sans-serif;
    font-weight: 900;
    display: block;
    margin-top: 5px;
}
/*styling biljetter slut*/ 

/*styling tabell*/ 

.banner {
margin-top: 50px;
width: 800px;
}

table{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px;
}

th, td{
    border: 1px solid #7bd4d2;
    font-family: Futura PT, sans-serif;
    padding: 7px;
}

th{
    color: #7bd4d2;
    font-size: 15pt;
    padding: 6px;
    border-color:#030301;
}

#rad1 { 
    background-color: #B81414;
}
/*styling tabell slut*/ 


/*styling recension*/
#recension-bakgrund{
    background-image: url(dave-reed-hzGaR9HDWtk-unsplash.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.recension {
    font-size: 14px;
    line-height: 18px;
    width: auto;
}

#recension-rubrik{
    font-size: 32px;
    color: #B81414; /*den röda primärfärgen används för att skapa enhetlighet på sidan*/
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#ingress{
    font-size: 16px; /*större textstorlek än brödtexten för att markera att detta är ingressen*/
    font-weight: 600; /*fetare text för att markera att detta är ingressen*/
}
#woods{
    float: right;
    -webkit-shape-outside: circle(50%); /*styling av texten position i förhållande till bilden*/
    shape-outside: circle(50%);/*styling av texten position i förhållande till bilden*/
    margin: 20px; /*marginalen runt bilden*/
}

#door{
    float: right; /*styling av texten position i förhållande till bilden*/
    -webkit-shape-outside: circle(50%); /*styling av texten position i förhållande till bilden*/
    shape-outside: circle(50%);
    margin: 20px;/*marginalen runt bilden*/
}

/*styling av betyg-delen i recensionen*/
.betyg-container{
    display: flex;
    align-items: center;
}

.femavfem {
    margin-left: 10px;
}

#text-betyg{
    margin-top: 2px;
}
/*styling recension slut*/ 

/*styling footer*/ 
footer {
    grid-area: footer;
    font-size: 12px;
    text-align: center;
    background-color: #586F7C;
    position: relative;
    padding: 3px;
    bottom: 0;
    max-width: 100%;
}
/*styling footer slut*/ 