body{
    margin: auto;
    background-color: #030301;
    color: white;
    max-width: 800px;
    font-family: Futura PT, sans-serif;
}

.contatiner{
    display: grid;
    grid-template-columns: 400px 200px;
    grid-template-areas:
    'nav nav' 
    'header header'
    'main main'
    'footer footer';
    column-gap: 10px;
}

main{
    grid-area: main;
}

header{
    grid-area: header;
}

nav{
    text-align: center;
    background-color: #586F7C;
    grid-area: nav;
}

li{
    list-style-type: none;
    display: inline;
}

a{
    text-decoration: none;
    color: #B81414;
}

nav a:hover{
    text-decoration: underline;
}

table{
    width: 50%;
    margin: auto;
}

th, td{
    border: 1px solid #586F7C;;
}

th{
    color: #B81414;
    font-size: 15pt;
}

h1{
    text-align: center;
    color: #7BD4D2;
}

footer{
    grid-area: footer;
}